@import  url(bootstrap.css);
.card-body{
    text-decoration-color: white;
    background-color: red;
}
.jumbotron{
    background-image: url(/images/akan3.jpg/);
    background-size: cover;
    background-repeat: no repeat;
    
}
.label{
    position: absolute;
    left: 20px;
}
}