@import  url(bootstrap.css);
.card-body{

    text-decoration-color: white;
    background-color: greenyellow;
}
.jumbotron{

    background-size: cover;
    background-repeat: no repeat;
    
}
.label{

    position: absolute;
    left: 20px;
}
